
body {
    background-color: beige;
    h1 {
        color: coral;
    }
    p {
        color: yellowgreen;
    }
    .container {
        background-color: black;
        h1 {
            color: burlywood;
        }
        p {
            color: seagreen;
        }
    }
}